

li{
    display: inline;
    font-size: 12px;
    margin-right: 10px;
   color: white;
    
}
#header{
    background: black;
    border: 2px solid black;
 
    
            
              
       
}
#sub-head{
    border: 5px solid gold;
    margin: 60px;
    
}

#nev{
    
  
   height: 50px;
   border: 2px solid black;
  background: black;
}
#img{
   border: 2px solid black;
   
}
   
     #m2{
         margin-top: 6px;
         margin-left:  6px;
       border: 2px solid#171813;
 width: 750px;
       height: 370px;
     background-color: #171813;
     color: white;
   }
   #m3{
      margin-top: 6px;
         margin-left:  6px;
       border: 2px solid #404040;
       width: 420px;
       height: 750px;
       background-color: #404040;
       color: white;
       background-image: url("images/C1.png")
      
   }
   #m4{
         margin-top: 6px;
          margin-left:  6px;
       border: 2px solid #171813;
       width: 750px;
         height: 360px;
         background-color: #171813;
         color: white;
   }
 
   .h1{
       color: orange;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 16px;
       font-weight: normal;
       padding-left:   20px;
       border: 1px solid black;
       margin: 10px;
       background: black;
   }
   .description{
      min-width: 505px;
       max-width: 620px;
    height: 110px;
       margin:  10px;
       text-align: left;
       border: 1px solid #171813;
       vertical-align: text-top;
       padding-top: 18px;
       font-size: 18px;
       padding-left: 4px;
      
   }
   #icons{
       width: 405px;
       max-height: 80px;
       border: 2px solid black;
       margin: 5px;
       background-color: black;
       padding-top: 15px;
   }
 
  #side-nev{
      
      border: 2px solid salmon;;
      margin: 15px;
      margin-top: 20px;
     
  }
  ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
   
     overflow: hidden;
  }
  li{
      float: left;
  }
  li a{
      display: block;
      text-decoration: none;
      background-color: black;
      color: white;
      padding: 14px 35px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      
  }
  li a:hover{
      background-color: orange;
  }
  #try{
      border: 1px solid black;
      margin:auto  auto 11px;
      width: 390px;
      background: black;
      margin-top: 10px;
  }
.iconsimages{
    margin-top: 6px ;
    margin-left:  36px;
   
}
.icons-desc{
    border: 1px solid none;
    min-width: 200px;
    max-width: 270px;
    margin-top: 20px;
}


   
